<div style="display: flex; flex-flow: column nowrap; height: 100%">
    <div style="flex: 0 0 auto">
        <et-app-toolbar></et-app-toolbar>
    </div>
    <div style="flex: 1 1 auto; overflow-y: auto; position: relative; display: flex;">
        <md-data-table layout-fill>
            <thead>
                <tr>
                    <th class="md-text-cell">Material</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let material of materials">
                    <td class="md-text-cell">{{ material.name }}</td>
                    <td>{{ material.quantity }}</td>
                    <td>{{ material.price }}</td>
                </tr>
            </tbody>
        </md-data-table>

    </div>
</div>
