<div>
    <div>
        <et-app-toolbar></et-app-toolbar>
    </div>
    <div style="height: calc(100vh - 64px); overflow-y: auto">
        <md-data-table>
            <thead>
                <tr>
                    <th class="md-text-cell">Material</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let material of materials">
                    <td class="md-text-cell">{{ material.name }}</td>
                    <td>{{ material.quantity }}</td>
                    <td>{{ material.price }}</td>
                </tr>
            </tbody>
        </md-data-table>

    </div>
</div>
