<div>
    <div>
        <et-app-toolbar></et-app-toolbar>
    </div>
    <div style="height: calc(100vh - 64px); overflow-y: auto">
        <md-data-table>
            <thead>
                <tr>
                    <th class="md-text-cell">Employee name</th>
                    <th>Salary</th>
                    <th>Deductions</th>
                    <th>After Deductions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td class="md-text-cell">{{ employee.name }}</td>
                    <td>${{ employee.salary }}</td>
                    <td>${{ employee.deductions }}</td>
                    <td>${{ employee.salary - employee.deductions }}</td>
                </tr>
            </tbody>
        </md-data-table>

    </div>
</div>
